p {
    font-family: Tahoma;
        color: darkblue;
        text-align: center;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:red;
    text-align: center;
        
}
